@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Ubuntu&display=swap');
.noteBlock{
    width: 80%;
    margin: 0 10% 0px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    font-family: 'Rubik', sans-serif;
    color: rgb(29, 33, 41); 
}
.noteBlock .note_text{
    max-height: 160px;
    overflow: hidden;
    padding: 10px;
}
.noteBlock .note{
    border-radius: 5px;
    border: 1px solid #afafaf;
    max-width: 17%;
    padding: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.noteBlock .note div{
    border-bottom: 1px solid #afafaf;
    margin: 0%;
    padding-bottom: 0;
}
.icons img{
    cursor: pointer;
max-width: 8%;
padding: 3px;
}
.icons{
    text-align: right;
    padding-bottom: 10%;
}
.note .subj{
    text-align: left;
    padding-left: 10px;
}
